<div class="text-center">
    <img class="rounded mx-auto d-block img-thumbnail" src="/images/beer.png">
    <section class="controls">
        <a class="btn btn-primary" href="/beers" role="button">Check all the Beers</a>
        <div><a class="btn btn-primary" href="/random-beers" role="button">Check a random Beer</a></div>
    </section>
</div>